<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>ReplicatorG</string>
    <key>CFBundleShortVersionString</key>
    <string>0040</string>
    <key>CFBundleGetInfoString</key>
    <string>ReplicatorG 0040, © 2009-${current.year} MakerBot Industries</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>ReplicatorG</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>replicatorg.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.replicatorg.app</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>CNC GCode document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>replicatorg.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>gcode</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>CNC GCode document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>replicatorg.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>g</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>STL 3D model</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>replicatorg.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>stl</string>
        </array>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>replicatorg.app.Base</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/ReplicatorG.jar</string>
        <string>$JAVAROOT/RXTXcomm.jar</string>
        <string>$JAVAROOT/filedrop.jar</string>
        <string>$JAVAROOT/j3dcore.jar</string>
        <string>$JAVAROOT/j3dutils.jar</string>
        <string>$JAVAROOT/jcommon-1.0.16.jar</string>
        <string>$JAVAROOT/jfreechart-1.0.13.jar</string>
        <string>$JAVAROOT/miglayout-3.7.4.jar</string>
        <string>$JAVAROOT/mrj.jar</string>
        <string>$JAVAROOT/quaqua.jar</string>
        <string>$JAVAROOT/twitter4j-2.0.10.jar</string>
        <string>$JAVAROOT/vecmath.jar</string>
        <string>$JAVAROOT/libquaqua.jnilib</string>
        <string>$JAVAROOT/librxtxSerial.jnilib</string>
        <string>/System/Library/Java</string>
      </array>
      <key>VMOptions</key>
      <string>-d32 -ea -Xmx1G</string>
      <key>Properties</key>
      <dict>
        <key>replicatorg.app-resources</key>
        <string>$APP_PACKAGE/Contents/Resources</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
